<div class="header">
  <h3>INICIO</h3>
  <ul class="header-elements">
    <li *ngIf="usuario.rol[0].name_rol == 'empleado'"><a href="https://login-front-d10.herokuapp.com/">Empleados</a></li>
    <li *ngIf="usuario.rol[0].name_rol == 'jugador'"><a href="https://tictactoe-d11.herokuapp.com/">Juego</a></li>
  </ul>
</div>
<h1>Bienvenido {{ usuario.username }}</h1>