.header{
    font-size: 18px;
    width: 100%;
    padding: 10px 150px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #b8b2b2;
}
.header-elements li{
    list-style: none;
    margin-left: 25px;
}
li a{
    text-decoration: none;
    color: rgb(84, 108, 177);
    text-decoration: underline;
}