<div class="contenedor">
  <form [formGroup]="userForm" class="form" (ngSubmit)="postUsuario()">
    <div class="form-group username">
      <label>Username</label>
      <input type="text" formControlName="username">
    </div>
    <div class="form-group password">
      <label>Password</label>
      <input type="password" formControlName="password">
    </div>
    <div class="form-group btn">
      <input type="submit" value="Iniciar sesión"/>
    </div>
  </form>
</div>