.contenedor{
    margin: auto;
    width: 80%;
    height: 500px;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.form-group input{
    margin: 15px 0;
    width: 100%;
}
input[type=submit] {
    background-color: white;
    border: 1px solid black;
    color: black;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}